<a href="https://colab.research.google.com/github/ebenebe/Bag_Store/blob/master/excelconverter_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
# Import the three excel files to Dataframe
portfolio = pd.read_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/sample/Portfolio_At_Risk_Report.xlsx')
expected = pd.read_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/sample/Expected_Report.xlsx')
monitoring = pd.read_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/sample/Savings_Deposit_Monitoring_Report.xlsx')

In [0]:
# Select the two colums to merge from expected Dataframe
expected_1 = expected[['Linked Account No.','Payment Amount','Due Date']]
#Print two rows of the result
expected_1.head(2)

   Linked Account No.  Payment Amount     Due Date
0    4230012400001284        86996.97  01-Dec-2019
1    4230011100000873        59490.00  24-Dec-2019

In [0]:
# merge the expected_1 Dataframe to Portfolio Dataframe and assign them to New_portfolio
new_portfolio = pd.merge(left = portfolio, right = expected_1,how ='left', on ='Linked Account No.')

In [0]:
# Select the two colums to merge from monitoring Dataframe

monitoring_1 = monitoring[['Linked Account No.','NUBAN','Lodgements']]

In [0]:
new_portfolio = pd.merge(left = new_portfolio, right = monitoring_1,how = 'left',  on ='Linked Account No.')

In [0]:
new_portfolio.head(3)

,S/N.,Customer Name,Phone No.,Loan Amount,Principal Bal.,Customer Account Bal.,Disbursement Date,Maturation Date,Product,Linked Account No.,Credit Officer,Total Outst. Prin.,Past Due Prin.,Loan Arrears,Status,Days OverDue,Payment Amount,Due Date,NUBAN,Lodgements
0,1,GMC GLOBAL RESOURCES LTD,NaN,1500000,1500000.0,-74459.96,10-Dec-2019,09-Jan-2020,LOAN- RETAIL MARKET (MICRO),4230012200003547,"OLABISI, BUKOLA",1500000.0,0.0,0.0,Performing,0,NaN,NaN,NaN,NaN
1,2,"PETER, GLORIA OLAOYE",8.169893e+09,70000,70000.0,531.27,10-Dec-2019,07-Jun-2020,LOAN- RETAIL MARKET (MICRO),4230011100003301,"AMBALI , KANYINSOLA KAFAYAT",70000.0,0.0,0.0,Performing,0,NaN,NaN,1.100033e+09,0.0
2,3,"ANUGBOBA-ORIABURE, RIGHTEOUS EHIS",8.038187e+09,100000,100000.0,943.00,10-Dec-2019,09-Mar-2020,LOAN- RETAIL MARKET (MICRO),4230011100004513,"AWOSOPE, OLUWASEUN",100000.0,0.0,0.0,Performing,0,NaN,NaN,1.100045e+09,21500.0

In [0]:

new_portfolio.rename(columns={'Payment Amount':'Expected Payment Amount'}, inplace = True)
new_portfolio.rename(columns={'Due Date':'Expected Due Date'}, inplace = True)
new_portfolio.rename(columns={'Lodgements':'Lodgments month -Date'}, inplace = True)

In [0]:
new_portfolio['Loan Collection Amount'] = " "
new_portfolio['Savings Amount'] = " "

In [0]:
new_portfolio.head(3)

,S/N.,Customer Name,Phone No.,Loan Amount,Principal Bal.,Customer Account Bal.,Disbursement Date,Maturation Date,Product,Linked Account No.,...,Past Due Prin.,Loan Arrears,Status,Days OverDue,Expected Payment Amount,Expected Due Date,NUBAN,Lodgments month -Date,Loan Collection Amount,Savings Amount
0,1,GMC GLOBAL RESOURCES LTD,NaN,1500000,1500000.0,-74459.96,10-Dec-2019,09-Jan-2020,LOAN- RETAIL MARKET (MICRO),4230012200003547,...,0.0,0.0,Performing,0,NaN,NaN,NaN,NaN,,
1,2,"PETER, GLORIA OLAOYE",8.169893e+09,70000,70000.0,531.27,10-Dec-2019,07-Jun-2020,LOAN- RETAIL MARKET (MICRO),4230011100003301,...,0.0,0.0,Performing,0,NaN,NaN,1.100033e+09,0.0,,
2,3,"ANUGBOBA-ORIABURE, RIGHTEOUS EHIS",8.038187e+09,100000,100000.0,943.00,10-Dec-2019,09-Mar-2020,LOAN- RETAIL MARKET (MICRO),4230011100004513,...,0.0,0.0,Performing,0,NaN,NaN,1.100045e+09,21500.0,,

In [0]:
new_portfolio.sort_values('Credit Officer', inplace = True)

In [0]:
new_portfolio.to_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/sample/new_portfolio.xlsx')